/* --Завдання 2-- */
h1,
h2,
h3 {
  color: grey;
}

#main {
  color: #e60202;
}

.h2 {
  color: red;
}

.heading {
  color: green;
}

/* --Завдання 3-- */
ul > li {
  font-weight: bold;
}

section > p {
  color: red;
}

section p {
  font-size: 23px;
}

/* --Завдання 4-- */
h2:first-of-type {
  color: indigo;
}

p.first a {
  color: green;
}

div + p {
  color: salmon;
}

/* --Завдання 5-- */
/*
Маємо іменовані кольори black, blue, green, red, white, yellow

визначати ці кольори за допомогою шістнадцяткового коду: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F.
black #000000
blue #0000ff
green #008000
red #ff0000
white #ffffff
yellow #ffff00

визначати ці кольори у десятковій системі числення за допомогою функції RGB.
black rgb(0, 0, 0);
blue  rgb(0,0,255)
green rgb(0,128,0)
red rgb(255,0,0)
white rgb(255,255,255)
yellow rgb(255,255,0)

визначати ці кольори, використовуючи відсотки.
black hsl(0,0%,50%)
blue hsl(240,100%,50%)
green hsl(120,100%,25%)
red hsl(0,100%,50%)
white hsl(0,0%,100%)
yellow hsl(60,100%,50%)

визначати ці кольори використовуючи альфа-канал, що задає прозорість.
black rgba(0, 0, 0, 0);
blue  rgba(0,0,255, 0)
green rgba(0,128,0, 0)
red rgba(255,0,0, 0)
white rgba(255,255,255, 0)
yellow rgba(255,255,0, 0)

*/

/* --Завдання 6-- */
.translucent-box {
  background: hsl(0, 100%, 50%);
}

/* --Завдання 7-- */
html {
  font-size: 100%;
}

body {
  font-size: 140%;
}

h1 {
  font-size: 240%;
}